#
# Reduce the distributed files in a distribution-build of this library/package
#

/docs                  export-ignore
/tests                 export-ignore
/.gitattributes        export-ignore
/.gitignore            export-ignore
/.phpunit.xml.dist     export-ignore
